<div class='container-fluid'>
<div class='jumbotron'>
  <nav class='navbar navbar-fixed' role='navigation'>
    <h1><center>Cloud Email</center></h1>
    <ul class='nav navbar-brand'>
      <li>{{#link-to 'clients'}}All Clients{{/link-to}}</li>
    </ul>
  </nav>
 {{outlet}}
</div>
</div>
