<div class='container'>

  <nav class='navbar navbar-default' role='navigation'>
    <h3 class="top">Email</h3>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'clients'}}Members{{/link-to}}</li>
    </ul>
  </nav>
 {{outlet}}
</div>
