<div class='container'>
<div class='jumbotron'>
  <nav class='navbar navbar-default' role='navigation'>
    <h2><center>Email</center></h2>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'clients'}}Members{{/link-to}}</li>
    </ul>
  </nav>
 {{outlet}}
</div>
</div>
