<h3>Clients</h3>

<ul>
  {{#each client in model}}
    <li>{{#link-to 'client' client}}{{client.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{#link-to 'new-client' classNames="btn btn-success"}}New Client{{/link-to}}
