<h1>New Client</h1>
<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name" class="form-control"}}
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    {{input value=email id="email" class="form-control"}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
