<h3>Compose Email</h3>

<form>
  <div class="form-group">
    <label for="to"></label>
    {{input value=to id="to" class="form-control" autofocus="autofocus" placeholder="To:"}}
    <label for="subject"></label>
    {{input value=subject id="subject" class="form-control" placeholder="Subject:"}}
    <label for="email"></label>
    {{textarea value=email id="email" class="form-control" rows="5" placeholder="Write Email here..."}}
  </div>

  <button class="btn btn-success" {{action "save"}}>Send Email</button>
</form>
