<h1><small>New</small></h1>
<form>
  <div class="form-group">
    <label for="name"></label>
    {{input value=name id="name" class="form-control" placeholder="Enter your name:"}}
  </div>

  <div class="form-group">
    <label for="email"></label>
    {{input value=email id="email" class="form-control" placeholder="Enter your Email:"}}
  </div>

  <button class="btn btn-success" {{action 'save'}}>Save</button>
</form>
